.add-element .ui-button.ui-button-icon-only {
    width: 100% !important;
    height: 100% !important;
    border-radius: 9px;
    background-color: #FFFFFF !important;
}
.add-element .ui-button-icon-only .ui-button-icon-left{
    font-size: 12px;
    color: #c8c8c8;
}